<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/HotwireLog.txt" layout="${date} ${message}"   />
    <target name="errors" xsi:type="File" fileName="${basedir}/HotwireError.txt" layout="${date} ${message}" />
    <target name="fileprocessor" xsi:type="File" fileName="${basedir}/HotwireError.txt" layout="${date} ${message}" />
  </targets>
  <rules>
    <logger name="*"  minLevel="Trace" writeTo="logfile"/>
    <logger name="*" minLevel="Error" writeTo="errors"/>
  </rules>
</nlog>  