<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <configSections>
    <sectionGroup name="hotwire">
      <section  name="oAuthProvider" type="Icodeon.Hotwire.Framework.Configuration.OAuthProviderSection, Icodeon.Hotwire.Framework" />
      <section  name="folders" type="Icodeon.Hotwire.Framework.Configuration.FoldersSection, Icodeon.Hotwire.Framework" />
      <section  name="queues" type="Icodeon.Hotwire.Framework.Configuration.QueueConfiguration, Icodeon.Hotwire.Framework" />
      <section  name="processFile" type="Icodeon.Hotwire.Framework.Configuration.ProcessFileConfiguration, Icodeon.Hotwire.Framework" />
    </sectionGroup>
  </configSections>

  <hotwire>
    <!--  
          default methodValidation is beforeUriValidation. 
          valid options are  beforeUriValidation | afterUriValidation   
          non matching request afterUriValidation will return 405 for invalid methods. beforeUriValidation returns 404.
    -->
    <queues active="true" rootServiceName="hotwire" methodValidation="afterUriValidation"> 
      <endpoints>
        <add name="q1" active="true" uriTemplate="queues" action="ENQUEUE-REQUEST" httpMethods="POST" mediaType="json" security="oauth" />
        <add name="q2" active="true" uriTemplate="queues.xml" action="ENQUEUE-REQUEST" httpMethods="POST" mediaType="xml" security="oauth" />
        <add name="q3" active="true" uriTemplate="queues.json" action="ENQUEUE-REQUEST" httpMethods="POST" mediaType="json" security="oauth" />
        <!-- echo and version very useful for smoke testing and manual testing -->
        <add name="q4" active="true"  uriTemplate="/echo/{SAY}.xml" action="ECHO" httpMethods="GET,POST" mediaType="xml" />
        <add name="q5" active="true" uriTemplate="queues.ver" action="VERSION" httpMethods="GET" mediaType="json"/>
      </endpoints>
    </queues>

    <processFile active="true" rootServiceName="process-file" methodValidation="afterUriValidation">
      <endpoints>
        <add name="pf1" active="true" uriTemplate="{TRACKING-NUMBER}.import" action="PROCESS-FILE" httpMethods="GET" mediaType="json"/>
        <!-- echo and version very useful for smoke testing and manual testing -->
        <add name="pf2" active="true"  uriTemplate="/echo/{SAY}.xml" action="ECHO" httpMethods="GET,POST" mediaType="xml" />
        <add name="pf3" active="true" uriTemplate="version.json" action="VERSION" httpMethods="GET" mediaType="json"/>
      </endpoints>
    </processFile>

    <oAuthProvider partnerConsumerKey="key"/>

    <!-- inbox and processed folder must be sub-directories of the App_Data folder -->
    <folders
        solutionFolderMarkerFile="HotwireSolutionFolderMarkerFile.txt"
        downloadErrorFolder =   "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\DownloadError"
        testDataFolder =        "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\TestFiles"
        downloadQueueFolder =   "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\DownloadQueue"
        processQueueFolder =    "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\ProcessQueue"
        processingFolder =      "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\Processing"
        processedFolder =       "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\Processed"
        processErrorFolder =    "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\ProcessError"
        downloadingFolder =     "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\Downloading"
      />
  </hotwire>

  <appSettings>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <httpModules>
      <!-- debug i.e. local dev with visual studio IIS6 -->
      <add name="HotwireVersionerModule" type="Icodeon.Hotwire.Framework.Modules.HotwireVersionerModule,Icodeon.Hotwire.Framework" />
      <add name="QueueModule" type="Icodeon.Hotwire.Framework.Modules.QueueModule,Icodeon.Hotwire.Framework" />
      <add name="ProcessFileModule" type="Icodeon.Hotwire.Framework.Modules.FileProcessorModule,Icodeon.Hotwire.Framework" />
    </httpModules>
  
  </system.web>

  <system.webServer>
    <!-- RELEASE i.e. live server IIS 7 -->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="HotwireVersionerModule" type="Icodeon.Hotwire.Framework.Modules.HotwireVersionerModule,Icodeon.Hotwire.Framework" />
      <add name="QueueModule" type="Icodeon.Hotwire.Framework.Modules.QueueModule,Icodeon.Hotwire.Framework" />
      <add name="ProcessFileModule" type="Icodeon.Hotwire.Framework.Modules.FileProcessorModule,Icodeon.Hotwire.Framework" />
    </modules>
  </system.webServer>




</configuration>
