<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="hotwire">
      <section name="test-module-config" type="Icodeon.Hotwire.Tests.Framework.TestModuleConfiguration, Icodeon.Hotwire.Tests" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="logging" value="true" />
  </appSettings>
  <hotwire>
    <test-module-config active="true" rootServiceName="test-animals" methodValidation="afterUriValidation">
      <endpoints>
        <add name="cat" active="true" uriTemplate="/cat.xml" action="action-cat" httpMethods="GET,POST" mediaType="xml" security="none" />
        <add name="dog" active="true" uriTemplate="/dog.xml" action="action-dog" httpMethods="GET" mediaType="json" security="none" />
      </endpoints>
    </test-module-config>
  </hotwire>

  </configuration>