<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="hotwire">
      <section name="test-module-config" type="Icodeon.Hotwire.Tests.Internal.TestModuleConfiguration, Icodeon.Hotwire.Tests" />
      <section  name="folders" type="Icodeon.Hotwire.Framework.Configuration.FoldersSection, Icodeon.Hotwire.Framework" />
      <section name="processFileScript" type="Icodeon.Hotwire.Framework.Configuration.ProcessFileScriptSection, Icodeon.Hotwire.Framework"/>
      <section  name="sslEmailErrorHandler" type="Icodeon.Hotwire.Framework.Configuration.SSLEmailErrorHandlerConfiguration, Icodeon.Hotwire.Framework" />
    </sectionGroup>
  </configSections>
  

  <!-- 
  <system.net>
    <mailSettings>
      <smtp from="noreply@yourdomain.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="noreply@yourdomain.com" password="{INSERTPASSWORD}" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  -->

  <appSettings>
    <add key="logging" value="true" />
    <!-- make sure each batch of tests use different ports so that we can run multiple tests at the same time on a single IIS server -->
    <add key="Icodeon.Hotwire.Tests.AcceptanceTests.Deployment.IISDeploymentTests-Port" value="43001" />
  </appSettings>

  <connectionStrings>
    <add name="hotwire" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=HotwireUnitTest;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <hotwire>
    <!-- 
      ssl Email error handler below cannot send mail without system.net configurations above being added to this app.config.
      The entry below is only there to support the unit test to ensure the configuration section can read correctly.
      -->
    <sslEmailErrorHandler toAddresses="toTest1@test.com,toTest2@test.com" fromAddress="test@test.com" timeoutSeconds="5"
            subjectLinePrefix="xxx subject line prefix"/>
    
    <processFileScript endpoint="http://localhost:54144/process-file/{TRACKING-NUMBER}.import"/>
    <!-- test configuration to ensure we can read all configurations -->
    <test-module-config active="true" rootServiceName="test-animals" methodValidation="afterUriValidation" debug="true">
      <endpoints>
        <add name="cat" active="true" uriTemplate="/cat.xml" action="action-cat" httpMethods="GET,POST" mediaType="xml" security="none" />
        <add name="dog" active="true" uriTemplate="/dog.xml" action="action-dog" httpMethods="GET" mediaType="json" security="none" />
        <add name="securedog" active="true" uriTemplate="/secure/dog.xml" action="action-dog" httpMethods="PUT,GET,POST" mediaType="json" security="simpleMAC" privateKey="my private key 1234" timeStampMaxAgeSeconds="10" />
      </endpoints>
    </test-module-config>

    <folders
        solutionFolderMarkerFile="HotwireSolutionFolderMarkerFile.txt"
        downloadErrorFolder =   "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\DownloadError"
        testDataFolder =        "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\TestFiles"
        downloadQueueFolder =   "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\DownloadQueue"
        processQueueFolder =    "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\ProcessQueue"
        processingFolder =      "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\Processing"
        processedFolder =       "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\Processed"
        processErrorFolder =    "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\ProcessError"
        downloadingFolder =     "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\Downloading"
      />

  </hotwire>

  </configuration>