<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" autoReload="true"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="f1" xsi:type="File" 
            layout="${date} ${message}" 
            fileName="${basedir}/Logs/Trace.log" 
            archiveFileName="${basedir}/Logs/Archives/Trace.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
            concurrentWrites="true"
            keepFileOpen="false"
            />
    
    <target name="f3" xsi:type="File"
            layout="${date} ${message}"
            fileName="${basedir}/Logs/Debug.log"
            archiveFileName="${basedir}/Logs/Archives/Debug.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
            concurrentWrites="true"
            keepFileOpen="false"
            />

    <target name="f2" xsi:type="File" 
            layout="${date} ${message}" 
            fileName="${basedir}/Logs/ErrorHandler.log" />

    <target name="f4" xsi:type="File"
            layout="${date} ${message}"
            fileName="${basedir}/Logs/FolderWatcher.log" />

  </targets>
  <rules>
    <logger name="*"  minLevel="Trace" writeTo="f1"/>
    <logger name="*"  minLevel="Debug" writeTo="f3"/>
    <logger name="Icodeon.Hotwire.Framework.Diagnostics.LoggingErrorHandler"  minLevel="Trace" writeTo="f2" final="true"/>
    
    <!-- folderwatcher debugging -->
    <logger name="Icodeon.Hotwire.Tests.AcceptanceTests.FolderWatcher.*"  minLevel="Trace" writeTo="f4" final="true"/>
    <logger name="Icodeon.Hotwire.TestFramework.Mocks.MockDownloder"  minLevel="Trace" writeTo="f4" final="true"/>
    <logger name="Icodeon.Hotwire.Framework.FolderWatcher.FolderWatcherCommandProcessor"  minLevel="Trace" writeTo="f4" final="true"/>

  </rules>
</nlog>  