<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="unitTests" xsi:type="File" fileName="${basedir}/UnitTests.log" layout="${date} ${message}"   />
    <target name="acceptanceTests" xsi:type="File" fileName="${basedir}/AcceptanceTests.log" layout="${date} ${message}"   />
  </targets>
  <rules>
    <logger name="*"  minLevel="Trace" writeTo="unitTests"/>
    <logger name="*"  minLevel="Trace" writeTo="acceptanceTests"/>
  </rules>
</nlog>  