<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" autoReload="true"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="f1" xsi:type="File" fileName="${basedir}/Test.log" layout="${date} ${message}" />
    <target name="f2" xsi:type="File" fileName="${basedir}/ErrorHandler.log" layout="${date} ${message}" />
  </targets>
  <rules>
    <logger name="*"  minLevel="Trace" writeTo="f1"/>
    <logger name="Icodeon.Hotwire.Framework.Diagnostics.LoggingErrorHandler"  minLevel="Trace" writeTo="f2" final="true"/>
    
  </rules>
</nlog>  