<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <configSections>
    <sectionGroup name="hotwire">
      <section  name="oAuthProvider" type="Icodeon.Hotwire.Framework.Configuration.OAuthProviderSection, Icodeon.Hotwire.Framework" />
      <section  name="fileProcessor" type="Icodeon.Hotwire.Framework.Configuration.FileProcessorSection, Icodeon.Hotwire.Framework" />
      <section  name="folders" type="Icodeon.Hotwire.Framework.Configuration.FoldersSection, Icodeon.Hotwire.Framework" />
      <section  name="smokeTests" type="Icodeon.Hotwire.Framework.Configuration.SmokeTestConfiguration, Icodeon.Hotwire.Framework" />
      <section  name="queues" type="Icodeon.Hotwire.Framework.Configuration.SmokeTestConfiguration, Icodeon.Hotwire.Framework" />
      
    </sectionGroup>
  </configSections>

  <hotwire>
    <queues active="true" rootServiceName="hotwire" methodValidation="afterUriValidation"> 
      <endpoints>
        <add name="q1" active="true" uriTemplate="queues" action="ENQUEUE-REQUEST" httpMethods="POST" mediaType="json" security="oauth" />
        <add name="q2" active="true" uriTemplate="queues.xml" action="ENQUEUE-REQUEST" httpMethods="POST" mediaType="xml" security="oauth" />
        <add name="q3" active="true" uriTemplate="queues.json" action="ENQUEUE-REQUEST" httpMethods="POST" mediaType="json" security="oauth" />
      </endpoints>
    </queues>
    <!--  
          default methodValidation is beforeUriValidation. 
          valid options are  beforeUriValidation | afterUriValidation   
          non matching request afterUriValidation will return 405 for invalid methods. beforeUriValidation returns 404.
    -->
    <smokeTests active="true" rootServiceName="tests" methodValidation="afterUriValidation">
      <endpoints>
        <add name="echo1"     active="true"  uriTemplate="/echo/{SAY}.xml"                action="ECHO" httpMethods="GET,POST" mediaType="xml" />
        <add name="echo2"     active="true" uriTemplate="/echo/{SAY}.json"                action="ECHO" httpMethods="GET,POST" mediaType="json"/>
        <add name="echo3"     active="true" uriTemplate="/echo/{SAY}.text"                action="ECHO" httpMethods="GET,POST" mediaType="text"/>
        <add name="version"   active="true" uriTemplate="/version/hotwire.txt"            action="VERSION" httpMethods="GET" mediaType="text"/>
        
        <!-- FILE PROCESSOR -->
        <add name="fileprocess" active="true" uriTemplate="/process-file/{TRACKING-NUMBER}.import" action="PROCESS-FILE" httpMethods="GET" mediaType="json"/>
        
      </endpoints>
    </smokeTests>

    <fileProcessor maxFileProcessorWorkers="1" />
    <oAuthProvider partnerConsumerKey="key"/>

    <!-- inbox and processed folder must be sub-directories of the App_Data folder -->
    <folders
        solutionFolderMarkerFile="HotwireSolutionFolderMarkerFile.txt"
        downloadErrorFolder =   "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\DownloadError"
        testDataFolder =        "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\TestFiles"
        downloadQueueFolder =   "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\DownloadQueue"
        processQueueFolder =    "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\ProcessQueue"
        processingFolder =      "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\Processing"
        processedFolder =       "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\Processed"
        processErrorFolder =    "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\ProcessError"
        downloadingFolder =     "Icodeon.Hotwire.TestAspNet\App_Data\HotwireFolders\Downloading"
      />
  </hotwire>

  <appSettings>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <httpModules>
      <!-- debug i.e. local dev with visual studio IIS6 -->
      <add name="HotwireVersionerModule" type="Icodeon.Hotwire.Framework.Modules.HotwireVersionerModule,Icodeon.Hotwire.Framework" />
      <add name="SmokeTestModule" type="Icodeon.Hotwire.Framework.Modules.SmokeTestModule,Icodeon.Hotwire.Framework" />
      <add name="QueueModule" type="Icodeon.Hotwire.Framework.Modules.QueueModule,Icodeon.Hotwire.Framework" />
    </httpModules>
  
  </system.web>

  <system.webServer>
    <!-- RELEASE i.e. live server IIS 7 -->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="HotwireVersionerModule" type="Icodeon.Hotwire.Framework.Modules.HotwireVersionerModule,Icodeon.Hotwire.Framework" />
      <add name="SmokeTestModule" type="Icodeon.Hotwire.Framework.Modules.SmokeTestModule,Icodeon.Hotwire.Framework" />
      <add name="QueueModule" type="Icodeon.Hotwire.Framework.Modules.QueueModule,Icodeon.Hotwire.Framework" />
    </modules>
  </system.webServer>




</configuration>
